/* colors info
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
*/



.body{
    margin-top:60px
}


/*General format for heading and format*/


.jumbotron  {
  background-image: url("../img/graffiti.jpg");  
  background-size: cover;  
  color:white;
}

/* Set black background color, white text and some padding */
    footer {
      background-color:  #d9534f;
      color: white;
      padding: 55px;
    }
    .work{
      color:  #d9534f;
      font-size: x-large;
      padding: 60 px;
      
    }
